$ez-uploader-placeholder-font-size: 1rem !default;
$ez-uploader-container-rounded:0.5rem !default;
$ez-uploader-container-min-height:90px !default;
$ez-uploader-preview-max-height:280px !default;
$ez-uploader-hover-transition:500ms !default;
$ez-uploader-preview-item-img-height:150px !default;
$ez-uploader-border-color: #cacaca !default;
$ez-uploader-border-hover-color: #777777 !default;
$ez-uploader-preview-item-overlay-bg:#242424ba !default;
$ez-uploader-action-btn-hover-bg:#ffffff26 !default;
$ez-uploader-preview-max-width : 100% !default;